<!-- Start your project here-->

<!--Navbar-->
    <nav style="background-color: white;"  class="navbar navbar-expand-lg  ">
        <!-- Navbar brand -->
        <p class="navbar-brand text-black " href="">
            <b class="text-black">E BUZZY</b>
        </p>

        <!-- Collapse button -->
        <button class="navbar-toggler text-dark " type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons text-black mt-2">menu</i>
<!--            <span class="navbar-toggler-icon text-dark"></span>-->
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="" data-toggle="modal" data-target="#modalLoginForm">
                        <i class="material-icons text-black mt-2">add_circle_outline</i>
                    </a>
                </li>

            </ul>
            <!-- Links -->
            <form class="form-inline">
                <div class="md-form my-0 text-dark">
                    <input class="form-control mr-sm-2 text-dark" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
<!--/.Navbar-->

<div class="container ">
    <div class="row post-card-out my-2">

        <div class="col-md-8 col-sm-12 offset-md-2  post-card-div">

            <!-- Post Card -->
            {{#each list}}

                  <br>
                    <div class="post-card bg-milk rounded custom-shadow animated slideInUp my-2">
                        <img class="post-card-profile shadow-sm" src="/img/profiles/1.jpg" alt="user_profile">
                        <h4 class="d-inline-block ml-1 "><b >{{this.PosterName}}</b></h4>
                        <p class="d-inline-block ml-3 text-muted">Aug 31, 2018</p>
                        <div class="card-text my-2">
                            Custom Text
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4 ">
                                <i class="material-icons">favorite_border</i> 4
                            </div>
                        </div>
                    </div> 

            {{/each}}
            <!-- Post Card -->
            
        </div>

    </div>
</div>




   <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">OPEAN YOUR HEART</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <!--<small>Embed link must be  <a href="https://www.youtube.com/embed/mQsjlb-deIQ">SRC</a></small>-->
                <div class="modal-body">
                    <form method="POST" action="/">
                        <input type="hidden"  name="PresentID" value="1" class="PresentID" >
                        <div class="md-form form-sm mb-5">
                            <i class="fas fa-user prefix"></i>
                            <input autofocus="autofocus" type="text" id="PostName" name="UploaderName" value="Jonathan Morrison " class="form-control form-control-sm add-name ">
                            <label data-error="wrong" data-success="right" for="PostName">Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <textarea name="UploaderEmotion" id="form10" class="md-textarea form-control buzzy-emotion" rows="3">I am a tall boy but as fat as Targeting mid I gain a little muscle too I guess Winking face</textarea>
                            <label for="form10" class="">What's happening dude ?</label>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-dark mt-1 upload-ok">Post
                                <i class="fas fa-sign-in ml-1"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </div>