.post-card{

    width: 100%;
    height: auto;
    padding: 10px;

}
.post-card-profile{
    width: 15%;
    height: auto;
    border-radius: 50%;
}
.post-paragraph{
    padding: 10px;
}
.custom-box-shadow{
    -webkit-box-shadow: 0px 1px 1.1px 0px rgba(0,0,0, 0.75);
    -moz-box-shadow: 0px 1px 1.1px 0px rgba(0,0,0, 0.75);
    box-shadow: 0px 1px 1.1px 0px rgba(0,0,0, 0.75);
}
.bg-milk{
    background: linear-gradient(#f8f8f8, #fff);
}



/* // Recording  */

.notrec{
	/* background-color: darkred; */
}

.rec{
    /* width: 150px; */
    /* height: 150px; */
    border-radius: 50%;
    background-color:transparent;
    /* font-size: 20px; */
    /* text-align: center; */
    /* line-height: 150px; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	animation: pulsing 2s linear infinite;
}

/* Animation */

@keyframes pulsing {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
}